<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform) = x86 ?>
  <?define upgradeCode = "9b6723f3-11d2-41ff-a3be-93c22b905dc4" ?>
  <?define sourceArch = "Win32" ?>
  <?define isWin64 = "no" ?>
  <?define installDir = "ProgramFilesFolder" ?>
  
  <?elseif $(var.Platform) = x64 ?>
  <?define upgradeCode = "e559b02a-21e5-4696-87b0-9982cf1b8e3f" ?>
  <?define sourceArch = "x64" ?>
  <?define isWin64 = "yes" ?>
  <?define installDir = "ProgramFiles64Folder" ?>
  
  <?else ?>
  <?error Unsupported platform ?>
  <?endif ?>
  
  <?define sourcePath = "$(var.ProjectDir)\openssh-portable" ?>
  <?define archSourcePath = "$(var.sourcePath)\$(var.sourceArch)\$(var.Configuration)" ?>
  
  <Product
    Id="*"
    Name="OpenSSH for Windows"
    Language="1033"
    Version="!(bind.fileVersion.ssh.exe)"
    Manufacturer="The OpenBSD Project"
    UpgradeCode="$(var.upgradeCode)">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Comments="!(bind.fileVersion.ssh.exe), LibreSSL !(bind.fileVersion.libcrypto.dll)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ClientFeature" Title="OpenSSH for Windows Client" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="SharedComponents" />
      <ComponentGroupRef Id="ClientComponents" />
      <Feature Id="ClientDebugFeature" Title="Client debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="ClientDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="ServerFeature" Title="OpenSSH for Windows Server" Level="10" AllowAdvertise="no">
      <ComponentGroupRef Id="SharedComponents" />
      <ComponentGroupRef Id="ServerComponents" />
      <ComponentGroupRef Id="ServerScriptComponents" />
      <Feature Id="ServerDebugFeature" Title="Server debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="ServerDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="LibreSSLFeature" Title="LibreSSL !(bind.fileVersion.libcrypto.dll)" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="LibreSSLComponents" />
      <Feature Id="LibreSSLDebugFeature" Title="LibreSSL debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="LibreSSLDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="PathFeature" Title="Add OpenSSH for Windows to PATH" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="PathComponents" />
    </Feature>

    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.sourcePath)\LICENCE.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.installDir)">
        <Directory Id="INSTALLFOLDER" Name="OpenSSH for Windows" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LibreSSLComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\libcrypto.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="LibreSSLDebugComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\libcrypto.pdb" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="SharedComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\CREDITS" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\LICENCE" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README.dns" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README.md" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README.platform" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README.privsep" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.sourcePath)\README.tun" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ClientComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\scp.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sftp.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-add.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-agent.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-keygen.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-keyscan.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientDebugComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\scp.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sftp.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-add.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-agent.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-keygen.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-keyscan.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sftp-server.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sshd.exe" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-shellhost.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerDebugComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sftp-server.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\sshd.pdb" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\ssh-shellhost.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerScriptComponents" Directory="INSTALLFOLDER">
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\FixHostFilePermissions.ps1" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\FixUserFilePermissions.ps1" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\install-sshd.ps1" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\moduli" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\Openssh-events.man" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\OpenSSHUtils.psd1" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\OpenSSHUtils.psm1" />
      </Component>
      <Component Win64="$(var.isWin64)">
        <File Source="$(var.archSourcePath)\uninstall-sshd.ps1" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PathComponents" Directory="INSTALLFOLDER">
      <Component Id="PathExtend" Win64="$(var.isWin64)">
        <RegistryValue Root="HKLM" Key="Software\OpenSSHForWindows" Type="string" Name="InstallFolder" Value="[INSTALLFOLDER]" />
        <Environment Id="PathExtend" Name="PATH" Action="set" Part="first" Permanent="no" System="yes" Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
