<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform) = x86 ?>
  <?define upgradeCode = "9b6723f3-11d2-41ff-a3be-93c22b905dc4" ?>
  <?define sourceArch = "Win32" ?>
  <?define libreSSLSourceArch = "x86" ?>
  <?define installDir = "ProgramFilesFolder" ?>

  <?elseif $(var.Platform) = x64 ?>
  <?define upgradeCode = "e559b02a-21e5-4696-87b0-9982cf1b8e3f" ?>
  <?define sourceArch = "x64" ?>
  <?define libreSSLSourceArch = "x64" ?>
  <?define installDir = "ProgramFiles64Folder" ?>

  <?else ?>
  <?error Unsupported platform ?>
  <?endif ?>

  <?define sourcePath = "$(var.ProjectDir)\openssh-portable" ?>
  <?define archSourcePath = "$(var.sourcePath)\$(var.sourceArch)\$(var.Configuration)" ?>
  <?define libreSSLSourcePath = "$(var.ProjectDir)\LibreSSL\bin\desktop\$(var.libreSSLSourceArch)" ?>

  <Product
    Id="*"
    Name="OpenSSH for Windows"
    Language="1033"
    Version="!(bind.fileVersion.ssh.exe)"
    Manufacturer="The OpenBSD Project"
    UpgradeCode="$(var.upgradeCode)">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      Comments="OpenSSH !(bind.fileVersion.ssh.exe) with LibreSSL !(bind.fileVersion.libcrypto.dll)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />

    <Feature Id="ClientFeature" Title="!(bind.property.ProductName) Client" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="CommonComponents" />
      <ComponentGroupRef Id="ClientComponents" />
      <Feature Id="ClientDebugFeature" Title="Client debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="ClientDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="ServerFeature" Title="!(bind.property.ProductName) Server" Level="10" AllowAdvertise="no">
      <ComponentGroupRef Id="CommonComponents" />
      <ComponentGroupRef Id="ServerComponents" />
      <ComponentGroupRef Id="ServerScriptComponents" />
      <Feature Id="ServerDebugFeature" Title="Server debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="ServerDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="LibreSSLFeature" Title="LibreSSL !(bind.fileVersion.libcrypto.dll)" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="LibreSSLComponents" />
      <Feature Id="LibreSSLDebugFeature" Title="LibreSSL debug symbols" Level="100" AllowAdvertise="no">
        <ComponentGroupRef Id="LibreSSLDebugComponents" />
      </Feature>
    </Feature>

    <Feature Id="PathFeature" Title="Add !(bind.property.ProductName) to PATH" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="PathComponents" />
    </Feature>

    <UIRef Id="WixUI_DualPurpose" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.sourcePath)\LICENSE.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.installDir)">
        <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LibreSSLComponents" Directory="INSTALLFOLDER" Source="$(var.libreSSLSourcePath)">
      <Component>
        <File Name="libcrypto.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="LibreSSLDebugComponents" Directory="INSTALLFOLDER" Source="$(var.libreSSLSourcePath)">
      <Component>
        <File Name="libcrypto.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CommonComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="LICENSE.txt" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="scp.exe" />
      </Component>
      <Component>
        <File Name="sftp.exe" />
      </Component>
      <Component>
        <File Name="ssh.exe" />
      </Component>
      <Component>
        <File Name="ssh-add.exe" />
      </Component>
      <Component>
        <File Name="ssh-agent.exe" />
      </Component>
      <Component>
        <File Name="ssh-keygen.exe" />
      </Component>
      <Component>
        <File Name="ssh-keyscan.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ClientDebugComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="scp.pdb" />
      </Component>
      <Component>
        <File Name="sftp.pdb" />
      </Component>
      <Component>
        <File Name="ssh.pdb" />
      </Component>
      <Component>
        <File Name="ssh-add.pdb" />
      </Component>
      <Component>
        <File Name="ssh-agent.pdb" />
      </Component>
      <Component>
        <File Name="ssh-keygen.pdb" />
      </Component>
      <Component>
        <File Name="ssh-keyscan.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="sftp-server.exe" />
      </Component>
      <Component>
        <File Name="sshd.exe" />
      </Component>
      <Component>
        <File Name="ssh-shellhost.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerDebugComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="sftp-server.pdb" />
      </Component>
      <Component>
        <File Name="sshd.pdb" />
      </Component>
      <Component>
        <File Name="ssh-shellhost.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ServerScriptComponents" Directory="INSTALLFOLDER" Source="$(var.archSourcePath)">
      <Component>
        <File Name="FixHostFilePermissions.ps1" />
      </Component>
      <Component>
        <File Name="FixUserFilePermissions.ps1" />
      </Component>
      <Component>
        <File Name="install-sshd.ps1" />
      </Component>
      <Component>
        <File Name="moduli" />
      </Component>
      <Component>
        <File Name="Openssh-events.man" />
      </Component>
      <Component>
        <File Name="OpenSSHUtils.psd1" />
      </Component>
      <Component>
        <File Name="OpenSSHUtils.psm1" />
      </Component>
      <Component>
        <File Name="sshd_config_default" />
      </Component>
      <Component>
        <File Name="uninstall-sshd.ps1" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PathComponents" Directory="INSTALLFOLDER">
      <Component>
        <Condition>MSIINSTALLPERUSER = ""</Condition>
        <RegistryValue Root="HKMU" Key="Software\OpenSSHForWindows" Type="string" Name="InstallFolderAllUsers" Value="[INSTALLFOLDER]" />
        <Environment Id="PathExtendAllUsers" Name="PATH" Action="set" Part="first" Permanent="no" System="yes" Value="[INSTALLFOLDER]" />
      </Component>
      <Component>
        <Condition>MSIINSTALLPERUSER = 1</Condition>
        <RegistryValue Root="HKMU" Key="Software\OpenSSHForWindows" Type="string" Name="InstallFolderCurrentUser" Value="[INSTALLFOLDER]" />
        <Environment Id="PathExtendCurrentUser" Name="PATH" Action="set" Part="first" Permanent="no" System="no" Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
